<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add medicines</title>
  {% load static %}
  <!-- <link rel="stylesheet" href="{% static 'css/addmedicine1.css' %}" type="text/css"> -->
  <link rel="stylesheet" href="/static/cssFiles/addmedicine1.css" type="text/css" media="screen and (min-width: 900px)">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="/static/jsFiles/addmedicines1.js"></script>
</head>

<body>
  <div onclick="closeThis(event)" id="sidebarDad">
    <div id="bothLR">
      <!-- header -->
      <div id="upperHead">
        <div id="toHide">
          <p>Get Your Dose</p>
          <button> logout<a href=""></a></button>
        </div>
      </div>

      <!-- sidebar -->

      <div id="sideBar">
        <div id="sideCont1"></div>
        <div onclick="rotateThis(this)" id="sideCont2">
          <img src="/static/images/arrow.png">
        </div>
      </div>
    </div>
  </div>
  <!-- main content -->
  <div id="mainCont">
    <form method="POST" action="{% url 'addmedicine' %}">
      {% csrf_token %}
      <div id="insideMain">
        <div id="firstPage">
          <div class="infos1" id="info1Cap">
            <p>Medicine reminder</p>
          </div>
          <div class="infos1" id="info1">
            <p>Medicine name</p>
            <input type="text" name="yourName" placeholder="Your answer">
          </div>
          <div class="infos1" id="info2">
            <label class="labgrp1">Type of medicine?</label>
            <!-- <div class="sec1">
            <span id="inf2span0"></span>
            <p>Tablet</p>
          </div>
          <div class="sec1">
            <span id="inf2span1"></span>
            <p>Syrup</p>
          </div>
          <div class="sec1">
            <span id="inf2span2"></span>
            <p>Injection</p>
          </div> -->
            <select id="select1" class="allSelects" name="medname">
              <option>choose</option>
              <option value="Tablet">Tablet</option>
              <option value="Syrup">Syrup</option>
              <option value="Injection">Injection</option>
            </select>
          </div>
          <div class="infos1" id="info3">
            <p>How many medicines did you buy? ( Please give the quantity of the numbers ).</p>
            <input name="noOfMed" type="text" placeholder="Your answer">
          </div>
          <div class="infos1" id="info4">
            <label class="labgrp1">How do you want to take the medicine (Permanent or Temporary)?</label>
            <!-- <div class="sec1">
            <span id="inf4span0"></span>
            <p>Permanent medicine (eg. Medicine for diabetes or blood pressure)</p>
          </div>
          <div class="sec1">
            <span id="inf4span1"></span>
            <p>Temporary medicine (eg. Tablet for cold or flu)</p>
          </div> -->
            <select id="select2" onchange="addThisPage(this)" class="allSelects" name="medType">
              <option>choose</option>
              <option value="PM">Permanent medicine (eg. Medicine for diabetes or blood pressure)</option>
              <option value="TM">Temporary medicine (eg. Tablet for cold or flu)</option>
            </select>
          </div>
        </div>
        <div id="extraPage">
          <div class="infos1" id="extrasCap">
            <p>Temporary medicine</p>
          </div>
          <div class="infos1" id="extras">
            <label class="labgrp1">If temporary medicine, how long do you need to take the medicine ?</label>
            <div id="extrasDiv1" class="sec1">
              <p>Date</p>
              <input name="dataForTemp" type="date">
            </div>
          </div>
        </div>
        <div id="secondPage">
          <div class="infos1" id="info5Cap">
            <p>Continue.</p>
          </div>
          <div class="infos1" id="info5">
            <label class="labgrp1">How many times a day do you have to take the medicine ?</label>
            <!-- <div onclick="findOut(this)" id="sec5Id0" class="sec1">
            <span id="inf5span0"></span>
            <p>1</p>
            </div>
            <div onclick="findOut(this)" class="sec1" id="sec5Id1">
            <span id="inf5span1"></span>
            <p>2</p>
            </div>
            <div onclick="findOut(this)" class="sec1" id="sec5Id2">
            <span id="inf5span2"></span>
            <p>3</p>
            </div> -->

            <select id="select3" onchange="findOut(this)" class="allSelects" name="medCount">
              <option>choose</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

        </div>
        <!-- <div id="thirdPage">
          <div class="infos1" id="info7Cap">
            <p>Optional questions</p>
          </div>
          <div class="infos1" id="info7">
            <p>Where did you buy the medicine ?</p>
            <input name="purchaseAdd" type="text" placeholder="Your answer">
          </div>
          <div class="infos1" id="info8">
            <p>Upload the prescription</p>
            <div id="info8DIv"> <img src="/static/images/Upload1.png"><span>Add file</span>
              <input name="file" type="file">
            </div>
          </div>
        </div> -->
        <div class="infos1" id="nextBack">
          <div onclick="process1()" id="back">Back</div>
          <div onclick="process2()" id="next">Next</div>


          <button type="submit" onclick="" id="submit">Submit</button>

        </div>



      </div>
    </form>
  </div>
</body>

</html>